# Backend PALA
PORT=8082

# Subsistema de seguridad PALA
SECURITY_SUBSYSTEM_BASE_URL=https://subsistemaseguridadpala.onrender.com
SECURITY_SUBSYSTEM_SYSTEM_KEY=poner_key_del_sistema_pala

# JWT local de PALA
JWT_SECRET=poner_un_secreto_largo_de_32_caracteres_o_mas
