# Backend PALA
PORT=8082

# Base de datos Supabase / Postgres
SPRING_DATASOURCE_URL=jdbc:postgresql://aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require
SPRING_DATASOURCE_USERNAME=postgres.tu_project_ref
SPRING_DATASOURCE_PASSWORD=poner_password_de_supabase
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false
SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=false
H2_CONSOLE_ENABLED=false
APP_CORS_ALLOWED_ORIGINS=http://localhost:3000,https://sistema-p-a-l-afront.vercel.app

# Subsistema de seguridad PALA
SECURITY_SUBSYSTEM_BASE_URL=https://subsistemaseguridadpala.onrender.com
SECURITY_SUBSYSTEM_SYSTEM_KEY=poner_system_key_del_sistema_pala
SECURITY_SUBSYSTEM_JWT_SECRET=poner_mismo_jwt_secret_del_subsistema_de_seguridad

# JWT local de PALA
JWT_SECRET=poner_jwt_secret_largo_y_aleatorio
